// !
// Checklists elements styles, include cr/edit form
//

@import "mixins";

.chkl-form-group {
  margin-top: 22px;
  background: #dbdbdb;

  .ordering-handler {
    vertical-align: middle;
    cursor: move;
    &.answer-ordering-handler, &.question-ordering-handler {
      float: right;
    }
  }

  & > header {
    padding: 0 12px;
    line-height: 40px;
    background: navy;
    color: #fff;
    .mdl-textfield__input {
      border-bottom-color: #fff;
    }
    .mdl-icon-toggle__label {
      color: #fff;
    }
    .mdl-icon-toggle.is-checked .mdl-icon-toggle__label {
      color: $accent-color;
    }
  }
}

.chkl-form-question {
  border-bottom: 1px solid #000;
  padding: 12px 24px;
}

.chkl-form-answer {
  position: relative;
  margin-top: 14px;
  border: 1px solid #999;
  padding: 6px;
  &:before {
    content: 'answer';
    display: block;
    position: absolute;
    top: -8px; left: 10px;
    padding: 0 4px;
    background: #dbdbdb;
    font-size: 12px;
    line-height: 16px;
    color: #000;
  }
}
