// !
// Checklists elements styles, include cr/edit form
//

@import "mixins";

// - - Checklists list with full data - - - - - - - - - - - - - - - - - - - - -

.check-med-clst-list-full {
  list-style: none;
  margin: 16px 0;
  padding: 0;

  & > li + li { margin-top: 16px; }

  .check-med-clst-item {
    // this element must be a .mdl-card
    width: auto;
    .mdl-card__supporting-text { width: auto; }
  }
}
ol.check-med-clst-list-full {
  padding-left: 40px;
  & > li {
    position: relative;
    .list-item-order-number {
      position: absolute;
      top: 0;
      left: -32px;
      font-weight: bold;
    }
  }
}

// - - Checklists list with short data - - - - - - - - - - - - - - - - - - - -

.check-med-clst-list-short {
  list-style: none;
  margin: 16px 0;
  padding: 0;

  & > li { margin-bottom: 12px; }

  .check-med-clst-item {
    // this element must be a .mdl-card
    width: auto;
    min-height: auto;
    .mdl-card__supporting-text { width: auto; }
  }
  .mdl-card__title-text {
    font-size: 18px;
    line-height: 24px;
  }

  @include upfrom480 {
    margin-right: -6px; margin-left: -6px;

    & > li {
      display: inline-block;
      vertical-align: top;
      margin: 6px;
    }

    .check-med-clst-item { width: 192px; min-height: 192px; }

    .mdl-card__title-text {
      position: relative;
      max-height: 72px;
      // &:after {
      //   content: '...';
      //   position: absolute;
      //   top: 48px;
      //   right: 0;
      //   height: 24px;
      //   background: #fff;
      //   padding-left: 6px;
      //   font-size: 18px;
      //   line-height: 24px;
      //   color: rgb(64,196,255);
      // }
    }

    .supporting-text-line {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

// .check-med-clst-list {
//   margin: 14px -8px 14px -8px;
//   padding-left: 0;
//   padding-right: 0;

//   .check-med-clst-list-item {
//     display: block;
//     margin: 8px 0;
//     padding: 6px 12px;
//     background: #f2f2f2;
//     text-decoration: none;
//     &:hover {
//       text-decoration: underline;
//     }
//     @media screen and (min-width: 320px)  {
//       display: inline-block;
//       vertical-align: top;
//       margin: 8px;
//       width: calc(50% - 40px);
//       height: 120px;
//     }
//     @media screen and (min-width: 376px) and (max-width: 475px)  {
//       height: 140px;
//     }
//     @media screen and (min-width: 580px) and (max-width: 1135px)  {
//       width: calc(33.3333333333% - 40px);
//     }
//     @media screen and (min-width: 1136px) { width: calc(25% - 40px); }
//     @media screen and (min-width: 1600px) { height: 140px; }
//   }

//   .chlst-name {
//     font-size: 16px;
//     font-weight: 400;
//     line-height: 28px;
//   }

//   .check-med-clst-list-item.check-med-clst-add-new {
//     background: #fff;
//     box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
//     .chlst-name {
//       font-size: 18px;
//       font-weight: bold;
//     }
//   }
// }

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
.check-med-checklist {
  margin-bottom: 4px;
  &.mdl-accordion--opened {
    border-top: 0;
    border-bottom: 0;
    margin-top: 0;
  }

  .mdl-accordion__button {
    display: block;
    position: relative;
    padding: 10px 16px;
    margin: 0;
    background: #ddd;
    color: $primary-color;
    cursor: pointer;
  }
  &.mdl-accordion--opened .mdl-accordion__button { color: $primary-inverse-color; }
  .mdl-accordion__icon { color: $primary-inverse-color; }

  .mdl-accordion__content {
    background: #fff;
    padding-right: 10px;
    padding-left: 10px;
    & > ol {
      margin: 0;
      padding: 16px 0 16px 25px;
      list-style-type: none;
      & > li > input:first-child {
        margin-left: -18px;
      }
    }
    .check-med-user-info-card { margin-top: 0; padding-top: 16px; }
    p.check-med-cltextdata { margin-bottom: 0; padding-bottom: 16px; }
  }
  // &.check-med-checklist-general {}
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.chkl-form-group {
  margin: 8px 0;
  background: #fff;

  .ordering-handler {
    vertical-align: middle;
    cursor: move;
    &.answer-ordering-handler, &.question-ordering-handler {
      float: right;
    }
  }

  & > header {
    padding: 0 12px;
    line-height: 40px;
    background: $primary-color;
    color: $primary-inverse-color;
    .mdl-textfield { padding-top: 0; padding-bottom: 0; }
    .mdl-textfield__input {
      border-bottom-color: $primary-inverse-color;
    }
    .mdl-icon-toggle__label {
      color: $primary-inverse-color;
    }
    .mdl-icon-toggle.is-checked .mdl-icon-toggle__label {
      color: $accent-color;
    }
  }

  & > .collapsed-header {
    display: none;
    padding: 0 12px;
    line-height: 40px;
    background: $primary-color;
    color: $primary-inverse-color;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    a { color: $primary-inverse-color; }
  }

  &.chkl-form-group-collapsed {
    & > .collapsed-header { display: block; }
    & > header { display: none; }
    & > .chkl-form-group-body { display: none; }
  }
}

.chkl-form-question {
  border-bottom: 1px solid #ccc;
  padding: 12px 24px;

  & > .collapsed-question-body {
    display: none;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    a { color: $primary-inverse-color; }
  }

  &.chkl-form-question-collapsed {
    & > .collapsed-question-body { display: block; }
    & > .chkl-form-question-body { display: none; }
  }
}

.chkl-form-answer {
  position: relative;
  margin-top: 14px;
  border: 1px solid #999;
  padding: 6px;
  &:before {
    content: 'Subtext';
    display: block;
    position: absolute;
    top: -8px; left: 10px;
    padding: 0 4px;
    background: #fff;
    font-size: 12px;
    line-height: 16px;
    color: $primary-inverse-color;
  }
}

.chkl-chbox-link {
  text-decoration: none;
}

.chkl-chbox-link .mdl-switch__label {
  color: #757575;
}
