// !
// Checklists elements styles, include cr/edit form
//

@import "mixins";

.check-med-clst-list-full {
  list-style: none;
  margin: 16px 0;
  padding: 0;

  & > li + li { margin-top: 16px; }

  .check-med-clst-item {
    // this element must be mdl-card
    width: auto;
  }
}
ol.check-med-clst-list-full {
  // counter-reset: clst-list-full;
  padding-left: 40px;
  & > li {
    position: relative;
    .list-item-order-number {
      // counter-increment: clst-list-full;
      // content: counter(clst-list-full) ".";
      position: absolute;
      top: 0;
      left: -32px;
      font-weight: bold;
    }
  }
}

.check-med-clst-list {
  margin: 14px -8px 14px -8px;
  padding-left: 0;
  padding-right: 0;


  .check-med-clst-list-item {
    display: block;
    margin: 8px 0;
    padding: 6px 12px;
    background: #f2f2f2;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    @media screen and (min-width: 320px)  {
      display: inline-block;
      vertical-align: top;
      margin: 8px;
      width: calc(50% - 40px);
      height: 120px;
    }
    @media screen and (min-width: 376px) and (max-width: 475px)  {
      height: 140px;
    }
    @media screen and (min-width: 580px) and (max-width: 1135px)  {
      width: calc(33.3333333333% - 40px);
    }
    @media screen and (min-width: 1136px) { width: calc(25% - 40px); }
    @media screen and (min-width: 1600px) { height: 140px; }
  }

  .chlst-name {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
  }

  .check-med-clst-list-item.check-med-clst-add-new {
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    .chlst-name {
      font-size: 18px;
      font-weight: bold;
    }
  }
}

.chkl-form-group {
  margin-top: 22px;
  background: #dbdbdb;

  .ordering-handler {
    vertical-align: middle;
    cursor: move;
    &.answer-ordering-handler, &.question-ordering-handler {
      float: right;
    }
  }

  & > header {
    padding: 0 12px;
    line-height: 40px;
    background: navy;
    color: #fff;
    .mdl-textfield__input {
      border-bottom-color: #fff;
    }
    .mdl-icon-toggle__label {
      color: #fff;
    }
    .mdl-icon-toggle.is-checked .mdl-icon-toggle__label {
      color: $accent-color;
    }
  }
}

.chkl-form-question {
  border-bottom: 1px solid #000;
  padding: 12px 24px;
}

.chkl-form-answer {
  position: relative;
  margin-top: 14px;
  border: 1px solid #999;
  padding: 6px;
  &:before {
    content: 'answer';
    display: block;
    position: absolute;
    top: -8px; left: 10px;
    padding: 0 4px;
    background: #dbdbdb;
    font-size: 12px;
    line-height: 16px;
    color: #000;
  }
}
