// !
// Styles of different elements common in different pages
//

.auth-help-links-block {
  margin-top: 20px;
}

.check-med-profile-avatar {
  & > img { max-width: 100%; }
}
.check-med-profile-info {
  padding: 0 40px 40px;
}
