// !
// Homepage elements styles
//

@import "mixins";

.check-med-homepage {
  .homepage-greeting-image {
    padding-top: 48px;
    padding-left: 16px;
    & > img {
      width: 100%;
      max-width: 244px;
    }
    @include upfrom480 {
      padding-top: 0;
      padding-left: 40px;
      & > img {
        max-width: 300px;
      }
    }
  }
  .homepage-greeting-text {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: auto;
    margin-left: auto;
    max-width: 260px;
    @include upfrom480 {
      font-size: 36px;
      line-height: 48px;
      margin-top: 24px;
      margin-bottom: 24px;
      max-width: 540px;
    }
  }
  .homepage-start-buttons {
    margin-top: 30px;
    font-size: 13px;
    .between-start-buttons {
      display: block;
      margin: 4px 0;
      text-align: center;
    }
    @include upfrom480 {
      margin-top: 48px;
      font-size: 16px;
      .mdl-button {
        height: 55px;
        font-size: 18px;
        line-height: 55px;
      }
      .between-start-buttons {
        display: inline-block;
        margin: 0 10px;
      }
    }
  }
}

.check-med-user-float-data {
  display: block;
  position: absolute;
  top: 8px;
  right: 24px;
  height: 48px;
  line-height: 48px;
  overflow: hidden;
  z-index: 4;
  & > img {
    width: 48px;
    height: 48px;
    border-radius: 24px;
  }
  @include upfrom1024 { display: none; }
}
