// Material Design Lite additionals:
//   Select field
//   Just info mdl-textfield
//   Accordeon
//   Changing primary-contrast color to #000

@import "mixins";

.mdl-selectfield {
  position: relative;
  font-size: 16px;
  display: inline-block;
  box-sizing: border-box;
  width: 300px;
  max-width: 100%;
  margin: 0;
  padding: 20px 0;

  .mdl-selectfield__select {
    appearance: none;
    // display: block;
    margin: 0;
    border: none;
    border-bottom: 1px solid rgba(0,0,0, 0.12);
    border-radius: 0;
    padding: 4px 0;
    background-color: transparent;
    width: 100%;
    text-align: left;
    font-size: 16px;
    font-family: "Helvetica", "Arial", sans-serif;
    color: inherit;
    &:focus { outline: none}
  }

  label { display: none; }

  &:after {
    position: absolute;
    top: 30px;
    right: 0.5em;
    /* Styling the down arrow */
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: .25em solid transparent;
    border-right: .25em solid transparent;
    border-top: .375em solid #000;
    pointer-events: none;
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.mdl-textfield.is-just-info {
  .mdl-textfield__input {
    border-bottom-color: #fff;
    pointer-events: none;
  }
  &.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
    color: #000;
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

// From @nickretallack - http://nickretallack.com/experiments/mdl/collapse/index.html
.mdl-accordion.mdl-accordion--opened {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  margin-top: -1px;
}

.mdl-accordion.mdl-accordion--opened + .mdl-accordion.mdl-accordion--opened {
  border-top: none;
  margin-top: 0; }

.mdl-accordion .mdl-accordion__content-wrapper {
  overflow: hidden; }

.mdl-accordion .mdl-accordion__content {
  transition-property: margin-top;
  transition-duration: 0.2s; }

.mdl-accordion .mdl-accordion__icon {
  transition-property: transform;
  transition-duration: 0.2s;
  color: rgba(0,0,0,0.3);
  position: absolute;
  right: 6px;
  margin-top: -3px; }

.mdl-accordion.mdl-accordion--opened .mdl-accordion__icon {
  transform: rotate(-180deg); }

.mdl-accordion.mdl-accordion--opened .mdl-accordion__button {
  color: teal; }

.mdl-accordion.mdl-accordion--opened .mdl-accordion__content {
  margin-top: 0 !important; }


// - - Changing primary-contrast color - - - - - - - - - - - - - - - - - - - -

.mdl-color--primary-contrast { background-color: $primary-inverse-color !important; }
.mdl-color-text--primary-contrast { color: $primary-inverse-color !important; }
.mdl-button--raised.mdl-button--colored { color: $primary-inverse-color; }
.mdl-button--raised.mdl-button--colored .mdl-ripple { background: $primary-inverse-color; }
.mdl-button--primary.mdl-button--primary .mdl-ripple { background: $primary-inverse-color; }
.mdl-button--primary.mdl-button--primary.mdl-button--raised,
.mdl-button--primary.mdl-button--primary.mdl-button--fab { color: $primary-inverse-color; }
.mdl-layout__drawer-button { color: $primary-inverse-color; }
.mdl-layout__header .mdl-layout__drawer-button { color: $primary-inverse-color; }
.mdl-layout__header { color: $primary-inverse-color; }
.mdl-layout__header-row .mdl-navigation__link { color: $primary-inverse-color; }
.mdl-layout__tab-bar-button.is-active { color: $primary-inverse-color; }
.mdl-layout.is-upgraded .mdl-layout__tab.is-active { color: $primary-inverse-color; }
.mdl-layout__tab .mdl-layout__tab-ripple-container .mdl-ripple {
  background-color: $primary-inverse-color; }
