// mixins obviously

$backg_color: #fafafa;

$primary-color: rgb(3,169,244);
// was $primary-inverse-color: rgb(66,66,66); but we want:
$primary-inverse-color: rgb(0,0,0);

$accent-color: rgb(68,138,255);
$accent-inverse-color: rgb(255,255,255);

// // Previous version
// $primary-color: rgb(63,81,181);
// $primary-inverse-color: #fff;
// $accent-color: rgb(64,196,255);
// $accent-inverse-color: rgb(66,66,66);


@mixin upfrom480 { @media screen and (min-width: 480px)  { @content; } }
@mixin upfrom760 { @media screen and (min-width: 760px)  { @content; } }
@mixin upfrom1024 { @media screen and (min-width: 1024px) { @content; } }
//// Material design lite media queries:
// @media (max-width: 479px)
// @media (min-width: 480px)
// @media (min-width: 480px) and (max-width: 839px)
// @media (min-width: 840px)
// @media screen and (min-width: 760px)
// @media screen and (min-width: 1024px)
// @media screen and (min-width: 1025px)
