.holder {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 780px;
}

.tmp-user-profile {
  overflow: hidden;
  padding: 10px;
  .tmp-u-photo {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    width: 200px;
  }
  .tmp-u-photo + .tmp-u-info {
    margin-left: 220px;
  }
}

.tmp-search-form {
  margin: 40px 0;
  padding: 0 20px;
  input[type="text"] {
    display: inline-block;
    padding: 6px 2px;
    width: calc(100% - 8px);
    line-height: 20px;
  }
  &.tmp-search-form-shy {
    margin-top: 12px;
    padding: 0;
  }
}
