// !
// Styles of profile page elements
//

@import "mixins";

.check-med-user-profile {
  min-height: 80px;
  padding-top: 32px;

  .user-profile-ava {
    float: left;
    width: 80px;
    & > img {
      width: 100%;
      border-radius: 40px;;
    }
  }
  .user-profile-ava + .user-profile-info { margin-left: 92px; }

  .user-profile-name {
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    margin-bottom: 6px;
  }
  .user-profile-position {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.check-med-user-info-card {
  margin: 16px 0;
  min-height: 40px;
  padding-top: 0;

  .user-card-ava {
    float: left;
    width: 40px;
    & > img { width: 100%; border-radius: 20px; }
  }
  .user-card-ava + .user-card-info { margin-left: 52px; }

  .user-card-name {
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 2px;
  }

  .user-card-position {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
  }
}
