meta charset=Rails.application.config.encoding
meta name="viewport" content="width=device-width,minimum-scale=1.0,initial-scale=1.0"
meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"
/[if (lt IE 9) & (!IEMobile)]
  script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"
